button {
    transition-duration: 0.4s;
    background-color: #11ffee00; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px;
    border-radius: 10px;
  }

  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }